/* Estilos básicos */
body {
    font-family: 'Metal Mania', Arial, sans-serif; /* Fuente metalera */
    background-image: url('../images/fondo.jpg');
    background-size: cover; /* La imagen cubrirá toda la pantalla */
    background-position: center; /* Centra la imagen de fondo */
    background-attachment: fixed; /* La imagen permanece fija al hacer scroll */
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #ff0000;
    font-size: 3em;
    text-shadow: 2px 2px #000;
    margin-top: 20px;
}

/* Menú de navegación */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ff0000;
    font-size: 1.2em;
    text-shadow: 1px 1px #000;
}

/* Estilos para las secciones de productos */
#destacados, #otros-productos {
    margin: 20px auto;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro translúcido */
    padding: 20px;
    border-radius: 15px;
}

#destacados {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#otros-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.producto {
    text-align: center;
    border: 2px solid #444;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
    color: #e0e0e0;
    transition: transform 0.3s, box-shadow 0.3s;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.producto h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #ff4500;
    text-shadow: 1px 1px #000;
}

.producto p {
    color: #d3d3d3;
}

.producto:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

/* Estilos para la descripción que se muestra al pasar el cursor */
.descripcion {
    display: none; /* Oculta las descripciones inicialmente */
    color: #d3d3d3;
    font-size: 0.9em;
    margin-top: 5px;
}

.producto {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: inherit; /* Mantiene el color original */
}
